$background-dark: #cebfa2;
$background-light: #fef7e8;
$background-light2: #f9f9f9;

$header-background: #252220;
$header-background2: #161616;
$header-link: #fff;
$header-link-hover: #da293e;


$blue-1: #189be9;
$blue-2: #147cb7;
$blue-3: #035f8c;
$blue-4: #0873aa;
$blue-5: #4779ac;
$blue-6: #3B6691;