/* line 1, ../../assets/scss/common.blocks/general/_general.scss */
body {
  background: #cebfa2;
  margin: 0;
}

/* line 1, ../../assets/scss/common.blocks/links/_links.scss */
.link {
  text-decoration: none;
}

/* line 1, ../../assets/scss/common.blocks/header/_header.scss */
.header {
  margin: 0;
  background-color: #252220;
}

@media only screen and (min-width: 30.0625em) {
  /* line 11, ../../assets/scss/common.blocks/header/_header.scss */
  .header {
    background-color: #3B6691;
  }
}
@media only screen and (min-width: 40.0625em) {
  /* line 17, ../../assets/scss/common.blocks/header/_header.scss */
  .header {
    background-color: #da293e;
    border-bottom: 5px solid #161413;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 24, ../../assets/scss/common.blocks/header/_header.scss */
  .header {
    background-color: #ffff00;
  }
}
/* line 1, ../../assets/scss/common.blocks/menu/_menu.scss */
.menu {
  margin: 0;
  padding: 5%;
  text-align: center;
}

/* line 7, ../../assets/scss/common.blocks/menu/_menu.scss */
.menu__item {
  list-style: none;
  display: inline-block;
  margin: 0 2%;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 18, ../../assets/scss/common.blocks/menu/_menu.scss */
.menu__link {
  color: #fff;
  text-decoration: none;
}
/* line 22, ../../assets/scss/common.blocks/menu/_menu.scss */
.menu__link:hover {
  color: #da293e;
  border-bottom: 1px solid #da293e;
}

/* line 28, ../../assets/scss/common.blocks/menu/_menu.scss */
.menu__link_selected {
  color: #da293e;
  border-bottom: 1px solid #da293e;
}
